#topo_pag{
    display: flex;
    background-color: gray;
    color:darkgray;
    justify-content: center;
    flex-direction: row;
}
#topo_pag div{
    margin: 10px;
}
#menu{
    display: flex;
    background-color: darkblue;
    color:white;
    justify-content: space-evenly;
    flex-direction: row;
}
#menu div{
    font-size: small;
    margin: 5px;
    padding: 5px;
}
#cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#jesuitas{
    margin-right: 380px;
}
#pesq{
    color: darkblue;
    border: 1px solid darkblue;
    padding:10px;
    padding-left: 30px;
    margin-right: 10px;
}
#fale{
    background-color: limegreen;
    color: white;
    padding:10px;
    padding-left: 30px;
    margin-right: 10px;
}
#whats{
    background-color: limegreen;
    color: white;
    padding:10px;
    padding-left: 30px;
    margin-right: 10px;
}
#acesso{
    background-color: skyblue;
    color: white;
    padding:10px;
}
#titulo{
    color: darkblue;
    text-align: center;
    margin-top: 100px;
}
#imgs{
    display: flex;
    justify-content: space-evenly;
}
/* #grad{
    margin-right: 50px;
}
#mercado{
    margin-left: 50px;
} */