#azul{
    color:blue;
}
#verde{
    color:green;
}
#vermelho{
    color:red;
}
#eh{
    color:orangered;
    font-size:30pt;
}
li{
    font-size:12pt;
}
p{
    font-size:15pt;
}
.menu{
    background-color: white;
    position: fixed;
    left: 5px;
    top: 0px;
    bottom: 5px;
    height: 20px;
}
