<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Dados do usuário</title>
        <link href="estilo_login_cadastro.css" rel="stylesheet">
    </head>
    <body>
        <a href="blog.html">Criar Post</a>
        <% for (var i =1; i <= nome_variavel.length;  i++ ) { %>
            <div>
                <%= titulo[i] %>
                <%= resumo[i] %>
                <%= conteudo[i] %>
            </div>
    </body>
</html>