<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Dados do usuário</title>
        <link href="estilo_blog.css" rel="stylesheet">
    </head>
    <body>
        <div class="resp">
            <p><%= resposta %></p>
            <p><%= mensagem %> </p><br>
            <a href="blog.ejs">HOME</a>
        </div>
    </body>
</html>
