<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Dados do usuário</title>
        <link href="estilo_login_cadastro.css" rel="stylesheet">
    </head>
    <body>
        <div class="resp">
            <p><%= resposta %></p>
            <p><%= mensagem %> </p>
        </div>
    </body>
</html>
